<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <a href="./"><img src="./public/evTech-logo.png" alt="evTech Logo" style="width:120px; display:block; margin-left:auto; margin-right:auto;"></a>
    <!-- HEADER -->
    <div id="header_wrap" class="outer"> 
        <header class="inner">
        <!--  <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
          <section id=""style="text-align:center">
            <a class="" href="./">Home</a> |
            <a class="" href="./services">Services</a> |
            <a class="" href="./contact">Contact Us</a>
          </section>
        </header>
    </div>
    <img src="./public/banner.jpg" alt="evTech banner" style="width:1024px">
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>
  </body>
</html>